body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(14, 13, 11);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.card {
    width: fit-content;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(92, 160, 183);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.swiper{
    width: 300px;
    height:200px ;
}
